  body {
    font: arial;
    font-family: 'Franklin Gothic Medium';
    font-size: 12pt;
    background-color: rgb(203, 235, 241);
    margin-top: 12pt;
    margin-bottom: 12pt;
    margin-left: 12pt;
    margin-right: 12pt;
    border: 12pt;
    padding: 15pt;
  }
  
  h1 {
    font: 'Franklin Gothic Medium'; 
    font-weight: bolder;
    font-size: 35pt;
    color: rgb(64, 29, 129);
    text-align: center;
  }

  h2 {
    font: 'Franklin Gothic Medium';
    font-weight: bolder;
    font-size: 25pt;
    color: rgb(30, 3, 102);
  }
  
  h4 {
    font: 'Franklin Gothic Medium';   
    font-weight: lighter;
    font-size: 14pt;
    color: rgb(6, 63, 150);
  }

  h5 {
    font: 'Franklin Gothic Medium';   
    font-weight: lighter;
    font-size: 12pt;
    color: rgb(0, 1, 2);
  }

  p {
    font: 'Franklin Gothic Medium';
    font-size: 13pt;
    color: rgb(0, 32, 139)
  }

 /* unvisited link */
 a:link {
    color: rgb(30, 48, 99);
  }
  
  /* visited link */
  a:visited {
    color: rgb(57, 0, 122);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(245, 81, 163);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 255, 191);
  }
  
  div {
    display: block;
    background-color: rgb(124, 170, 238);
    width: 1999px;
    padding: 0.4px;
   }


  table, th, td{
        border: 2px solid slateblue;
  }
  th {
    font-size: 16pt;
    background-color: rgb(49, 74, 143);
    color: rgb(255, 255, 255) 
  }
 
  td {
    font-size: 11pt;
    padding: 5pt;
  }

  li{
    font-size: 12pt;
  }

/*Orginal image size*/
  img{
    width: 350px;
    height: 220px;
  }
/*Enlarged image size*/
  .fullsize{
    width: 550px;
    height: 420px;
  }

/* Navbar container */
.navbar {
  overflow: show;
  background-color: rgb(124, 170, 238);
  font-family: Arial;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
  background-color:rgb(124, 170, 238);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #473e8e;
  color: rgb(255, 253, 253)
}

/* Tied to onmouseover event*/
.mOver{
  background-color:#473e8e;
  color: rgb(255, 253, 253);
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
}